@import "tailwindcss";

:root {
  --bg-color: #d9d5d5;
  --canvas-bg: #c3bebe;
  --text-color: #000000;
  --grid-color: #a0a0a0;
  --selection-color: #00bfff;
  --point-selection-color: #ff00ff;
  --handle-fill: #ffffff;
  --handle-stroke: #000000;
  --point-fill: #ffcc00;
  --point-hover-fill: #ffffff;
  --spline-default-color: #16689f;
  --spline-selected-color: #00ffff;
  --spline-hover-color: #e3f6f6;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(61, 60, 60, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --bg-color: #181818;
  --canvas-bg: #212121;
  --text-color: #d7d2d2;
  --grid-color: #333333;
  --selection-color: #00e0ff;
  --point-selection-color: #ff00ff;
  --handle-fill: #ffffff;
  --handle-stroke: #00e0ff;
  --point-fill: #ffcc00;
  --point-hover-fill: #ffffff;
  --spline-default-color: #16689f;
  --spline-selected-color: #00e0ff;
  --spline-hover-color: #e3f6f6;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* Removed global button styles to avoid conflicts with Material UI */


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
